.tag-area {
  border: 1px solid #00adb5;
  background-color: #00adb5;
  border-radius: 31px;
  padding: 10px;
  font-size: 25px;
  position: absolute;
  top: -50px;
  left: 20px;
}

.col-linear {
  /* background: linear-gradient(rgba(0, 173, 181, 1), rgb(34, 40, 49)); */
  background-color: rgb(34, 40, 49);
  padding: 20px 60px;
  border-radius: 20px
}